*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
.icon {width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden;}
.clearfix{content: ''; display: block; clear: both;}

.topNavBar{position: fixed; display: flex; flex-direction: row; justify-content: space-between; 
    align-items: center; z-index: 2; width: 100vw; height: 140px; padding: 0 15%; 
    transition: all 0.5s;}
.topNavBar .logo-wrapper{width: 34px; height: 34px; background: white; position: relative; 
    transform: rotateZ(45deg);}
.topNavBar .logo{width: 34px; height: 34px; background: #FA6A2E; position: absolute; top: -5px; 
    left: 5px; text-align: center;}
.topNavBar .logo span{line-height: 34px; font-weight: 700; transform: rotateZ(-45deg); display: inline-block;}
.topNavBar ul>li{float: left; margin-left: 20px; font-size: 14px;}
.topNavBar ul>li>a{color: white;}
.topNavBar ul>li span{display: block; width: 100%; height: 3px; margin-top: 10px; background: white; transform: translateX(-100%); 
  opacity: 0; transition: all 0.5s;}
.topNavBar ul>li:hover span{transform: translateX(0); opacity: 1;}
.topNavBar.active{height: 80px; background: white; box-shadow: 0 3px 10px #ECE9E4;}
.topNavBar.active .logo-wrapper{background: #9A9DA2;}
.topNavBar.active ul>li span{background: #FA6A2E;}
.topNavBar.active ul>li>a{color: black;}

.container{max-width: 80%; margin: 0 auto; box-shadow: 0 0 10px #ECE9E4;}
header{width: 100%; height: 600px; background-image: url(../img/header.jpg); background-size: 100% 100%; position: relative;}
header h1,header p,header .down,header .media{position: absolute; color: white; z-index: 1;}
header::after{content: ''; display: block; width: 100%; height: 100%; background: #444450; opacity: 0.9;}
header h1,header p,header .down{left: 10%;}
header h1{top: 260px; font-weight: 500; font-size: 24px;}
header p{top: 310px; font-size: 12px;}
header .down{top: 380px; font-size: 30px;}
header .media{top: 200px; right: 130px; display: flex; flex-direction: column;}
header .media a{margin-top: 40px; color: #E6E6E9; font-size: 24px; padding: 6px; border-radius: 50%; text-align: center;}
header .media a:nth-child(3){font-size: 28px;}
header .media a:hover{background: rgba(0, 0, 0, 0.2);}

.about{width: 100%; margin: 0 auto; display: flex; flex-direction: row; transform: translateY(-160px); justify-content: center; padding: 0 10%;}
.about .left{width: 50%;}
.about .left .image{padding: 5px; width: 68%; background: white; outline: 1px solid #ECE9E4;}
.about .left .image img{width: 100%; height: 100%;}
.about .left .self>h2{font-weight: 500; margin-top: 20px;}
.about .left .self>p{font-size: 14px; margin-top: 10px;}
.about .left .self>p>span{font-size: 16px;}
.about .left .self>ul{margin-top: 20px;}
.about .left .self li{border-bottom: 2px solid #ECECEC; padding: 10px 0; position: relative;}
.about .left .self li .my-key{color: #FA6A2E; font-weight: 600;}
.about .left .self li .my-value{display: inline-block; position: absolute; right: 0;}
.about .right{width: 60%; padding-left: 1%;}
.about .right .skill{width: 100%; height: 500px; margin-top: 200px;}
.about .right .download-wrapper{width: 100%; text-align: center;}
.about .right .download-wrapper a{display: inline-block; width: 200px; height: 40px; border: 1px solid #FA6A2E; 
  line-height: 40px; margin-top: 50px; color: #FA6A2E; font-weight: 600; border-radius: 5px; font-size: 18px; 
  transition: all 0.5s;}
.about .right .download-wrapper a:hover{box-shadow: 0px 4px 13px 0px #FA6A2E;}

.portfolio{padding: 5% 10%; transform: translateY(-120px); position: relative; }
.portfolio .bg{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #444450; 
    opacity: 0.9; z-index: -1; background-image: url(../img/work2.jpg); background-position: center; background-size: 200% 200%; filter: blur(20px);}
.portfolio>h2{font-weight: 500; color: white; position: absolute; top: 2%;}
.portfolio .works-wrapper{height: 36vw; display: flex; flex-direction: row; box-shadow: 0px 8px 26px 0px black;}
.portfolio .work1{background-image: url(../img/work1.jpg);}
.portfolio .work2{background-image: url(../img/work2.jpg);}
.portfolio .work3{background-image: url(../img/work3.jpg);}
.portfolio .work4{background-image: url(../img/work4.jpg);}
.portfolio .work5{background-image: url(../img/work5.jpg);}
.portfolio .work6{background-image: url(../img/work6.jpg);}
.portfolio .work1,.portfolio .work2,.portfolio .work3,
.portfolio .work4,.portfolio .work5,.portfolio .work6{width: 5%; height: 100%; background-size: cover;  
    background-position-x: right; background-repeat: no-repeat; position: relative; transition: width 0.5s;}
.portfolio .work1.active,.portfolio .work2.active,.portfolio .work3.active,
.portfolio .work4.active,.portfolio .work5.active,.portfolio .work6.active{width: 75%;}
.portfolio .work-wrapper{position: absolute; left: 4%; bottom: 6%; color: white; display: none;}
.portfolio .work1.active .work-wrapper,.portfolio .work2.active .work-wrapper,
.portfolio .work3.active .work-wrapper,.portfolio .work4.active .work-wrapper,
.portfolio .work5.active .work-wrapper,.portfolio .work6.active .work-wrapper{display: block;}
.portfolio .open{width: 2em; height: 2em; display: flex; justify-content: center; align-items: center; 
    border-radius: 50%; color: white; position: absolute; top: 50%; left: 50%; margin-top: -1em; margin-left: -1em; cursor: pointer;}
.portfolio .open:hover{background: rgba(0, 0, 0, 0.2);}
.portfolio .open .icon{position: absolute; font-size: 22px;}
.portfolio .work1.left .ll,.portfolio .work2.left .ll,
.portfolio .work3.left .ll,.portfolio .work4.left .ll,
.portfolio .work5.left .ll,.portfolio .work6.left .ll{display: none;}
.portfolio .work1.left .rr,.portfolio .work2.left .rr,
.portfolio .work3.left .rr,.portfolio .work4.left .rr,
.portfolio .work5.left .rr,.portfolio .work6.left .rr{display: inline-block;}
.portfolio .work1.right .ll,.portfolio .work2.right .ll,
.portfolio .work3.right .ll,.portfolio .work4.right .ll,
.portfolio .work5.right .ll,.portfolio .work6.right .ll{display: inline-block;}
.portfolio .work1.right .rr,.portfolio .work2.right .rr,
.portfolio .work3.right .rr,.portfolio .work4.right .rr,
.portfolio .work5.right .rr,.portfolio .work6.right .rr{display: none;}
.portfolio .work1.active .open,.portfolio .work2.active .open,
.portfolio .work3.active .open,.portfolio .work4.active .open,
.portfolio .work5.active .open,.portfolio .work6.active .open{display: none;}
.portfolio .work-wrapper .name{margin-top: 10px; font-weight: bold; font-size: 20px;}
.portfolio .work-wrapper .more{margin-top: 2px; font-size: 12px; cursor: pointer;}
.portfolio .work-wrapper .more a{color: white;}
.portfolio .work-wrapper .more a:hover{color: #FA6A2E;}

.blog{background: #444450; color: white; padding: 5% 10% 10%; transform: translateY(-80px);}
.blog a{color: white;}
.blog a:hover{color: #FA6A2E;}
.blog h2{margin-bottom: 40px; font-weight: normal;}
.blog .blog-wrapper{display: flex; flex-direction: row; justify-content: space-between;}
.blog .blog-wrapper>div{width: 28%;}
.blog .blog-wrapper img{width: 100%;}
.blog .blog-wrapper h4,.blog .blog-wrapper p{margin-top: 15px;}
.blog .blog-wrapper p{margin-bottom: 24px; font-size: 14px;}

.message {margin-bottom: 60px; padding: 0 10%; transform: translateY(-80px);}
.message h2{margin-top: 60px; font-weight: normal;}
.message ol {margin: 40px 0;}
.message ol>li {color: #616C71; padding: 20px; background: #FCFAFA; margin-bottom: 16px; box-shadow: 0 5px 5px #EAE1DF;}
.message form {margin: 0 auto; display: flex; flex-direction: column; align-items: center;}
.message form>label {display: block;}
.message form>label>span {width: 20%; padding-right: 10px; color: #888;}
.message form>label:nth-child(2)>span {padding-right: 22px;}
.message form>label>input {border: 1px solid #dadada; color: #888; height: 30px; margin: 2px 6px 16px 0; padding: 3px 3px 3px 5px; box-shadow: inset 0px 1px 4px #ececec;}
.message form>input {background: #e27575; border: none; padding: 10px 25px; color: #fff; box-shadow: 1px 1px 5px #b6b6b6; border-radius: 3px; cursor: pointer;}
.message form>input:hover {background: #cf7a7a;}