*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
.icon {width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden;}
.clearfix{content: ''; display: block; clear: both;}

.topNavBar{position: fixed; display: flex; flex-direction: row; justify-content: space-between; 
    align-items: center; z-index: 2; width: 100vw; height: 140px; padding: 0 15%; 
    transition: all 0.5s;}
.topNavBar .logo-wrapper{width: 34px; height: 34px; background: white; position: relative; 
    transform: rotateZ(45deg);}
.topNavBar .logo{width: 34px; height: 34px; background: #FA6A2E; position: absolute; top: -5px; 
    left: 5px; text-align: center;}
.topNavBar .logo span{line-height: 34px; font-weight: 700; transform: rotateZ(-45deg); display: inline-block;}
.topNavBar ul>li{float: left; margin-left: 20px; font-size: 14px;}
.topNavBar ul>li>a{color: white;}
.topNavBar ul>li span{display: block; width: 100%; height: 3px; margin-top: 10px; background: white; transform: translateX(-100%); 
  opacity: 0; transition: all 0.5s;}
.topNavBar ul>li:hover span{transform: translateX(0); opacity: 1;}
.topNavBar.active{height: 80px; background: white; box-shadow: 0 3px 10px #ECE9E4;}
.topNavBar.active .logo-wrapper{background: #9A9DA2;}
.topNavBar.active ul>li span{background: #FA6A2E;}
.topNavBar.active ul>li>a{color: black;}

.container{max-width: 80%; margin: 0 auto; box-shadow: 0 0 10px #ECE9E4;}
header{width: 100%; height: 600px; background-image: url(./img/header.jpg); background-size: 100% 100%; position: relative;}
header h1,header p,header .down,header .media{position: absolute; color: white; z-index: 1;}
header::after{content: ''; display: block; width: 100%; height: 100%; background: #444450; opacity: 0.9;}
header h1,header p,header .down{left: 10%;}
header h1{top: 260px; font-weight: 500; font-size: 24px;}
header p{top: 310px; font-size: 12px;}
header .down{top: 380px; font-size: 30px;}
header .media{top: 200px; right: 130px; display: flex; flex-direction: column;}
header .media a{margin-top: 40px; color: #E6E6E9; font-size: 24px; padding: 6px; border-radius: 50%; text-align: center;}
header .media a:nth-child(3){font-size: 28px;}
header .media a:hover{background: rgba(0, 0, 0, 0.2);}

.about{width: 100%; margin: 0 auto; display: flex; flex-direction: row; transform: translateY(-160px); justify-content: center; padding: 0 10%;}
.about .left{width: 50%;}
.about .left .image{padding: 5px; width: 68%; background: white; outline: 1px solid #ECE9E4;}
.about .left .image img{width: 100%; height: 100%;}
.about .left .self>h2{font-weight: 500; margin-top: 20px;}
.about .left .self>p{font-size: 14px; margin-top: 10px;}
.about .left .self>p>span{font-size: 16px;}
.about .left .self>ul{margin-top: 20px;}
.about .left .self li{border-bottom: 2px solid #ECECEC; padding: 10px 0; position: relative;}
.about .left .self li .my-key{color: #FA6A2E; font-weight: 600;}
.about .left .self li .my-value{display: inline-block; position: absolute; right: 0;}
.about .right{width: 50%; padding-left: 10%;}
.about .right .skill{width: 100%; height: 500px; margin-top: 200px;}
.about .right .download-wrapper{width: 100%; text-align: center;}
.about .right .download-wrapper a{display: inline-block; width: 200px; height: 40px; border: 1px solid #FA6A2E; 
  line-height: 40px; margin-top: 50px; color: #FA6A2E; font-weight: 600; border-radius: 5px; font-size: 18px; 
  transition: all 0.5s;}
.about .right .download-wrapper a:hover{box-shadow: 0px 4px 13px 0px #FA6A2E;}

.portfolio{padding: 0 10% 10%; position: relative;}
.portfolio>h2{font-weight: 500;}
.portfolio>p{font-size: 12px; line-height: 60px;}
.portfolio>div{display: flex; flex-direction: row;}
.portfolio .row1,.portfolio .row2{margin-bottom: 27px;}
.portfolio .row1,.portfolio .row2,.portfolio .row3{position: relative; justify-content: space-between;}
.portfolio .work{width: 30%; box-shadow: 0px 4px 13px 0px #B9BABA;}
.portfolio .work .wrapper{display: flex; flex-direction: row; justify-content: space-between;}
.portfolio .work .content-wrapper{background: white; height: 0; transition: all 1s; position: absolute; 
    width: 30%; opacity: 0; border-radius: 5px;  box-shadow: inset 0px 0px 13px 0px #ECE9E4; padding: 5px 5px; color: #444450;}
.portfolio .work .content-wrapper span{font-size: 18px;}
.portfolio .work .content-wrapper>p:nth-child(1){margin-bottom: 5px;}
.portfolio .work:hover .content-wrapper{height: 200px; opacity: 1; z-index: 1;}
.portfolio .link{width: 70%;}
.portfolio .link h4{font-weight: normal;}
.portfolio .link h4,.portfolio .link ul>li{text-align: center;}
.portfolio .link ul{display: flex; justify-content: center; align-items: center;}
.portfolio .link ul>li{border: 1px solid #B9BABA; border-radius: 5px; padding: 5px 5px; font-size: 12px; margin: 0 auto;
    margin-top: 8%; float: left; box-shadow: 0 0 5px #B9BABA; transition: all 0.5s;}
.portfolio .link ul>li:hover{box-shadow: 0px 4px 13px 0px #B9BABA;}
.portfolio .link a{color: black;}
.portfolio .row2 .work,.portfolio .row2 .work .content-wrapper{width: 40%;}

.blog{background: #444450; color: white; padding: 5% 10% 10%;}
.blog a{color: white;}
.blog h2{margin-bottom: 40px; font-weight: normal;}
.blog .blog-wrapper{display: flex; flex-direction: row; justify-content: space-between;}
.blog .blog-wrapper>div{width: 28%;}
.blog .blog-wrapper img{width: 100%;}
.blog .blog-wrapper h4,.blog .blog-wrapper p{margin-top: 15px;}
.blog .blog-wrapper p{margin-bottom: 24px; font-size: 14px;}

.message {margin-bottom: 60px; padding: 0 10%;}
.message h2{margin-top: 60px; font-weight: normal;}
.message ol {margin: 40px 0;}
.message ol>li {color: #616C71; padding: 20px; background: #FCFAFA; margin-bottom: 16px; box-shadow: 0 5px 5px #EAE1DF;}
.message form {margin: 0 auto; display: flex; flex-direction: column; align-items: center;}
.message form>label {display: block;}
.message form>label>span {width: 20%; padding-right: 10px; color: #888;}
.message form>label:nth-child(2)>span {padding-right: 22px;}
.message form>label>input {border: 1px solid #dadada; color: #888; height: 30px; margin: 2px 6px 16px 0; padding: 3px 3px 3px 5px; box-shadow: inset 0px 1px 4px #ececec;}
.message form>input {background: #e27575; border: none; padding: 10px 25px; color: #fff; box-shadow: 1px 1px 5px #b6b6b6; border-radius: 3px; cursor: pointer;}
.message form>input:hover {background: #cf7a7a;}