*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
li{list-style: none;}
a{text-decoration: none;}
.icon {width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden;}
.clearfix{content: ''; display: block; clear: both;}

.topNavBar{position: fixed; display: flex; flex-direction: row; justify-content: space-between; 
    align-items: center; z-index: 2; width: 100vw; height: 140px; padding-left: 15%; padding-right: 15%; 
    transition: all 0.5s;}
.topNavBar .logo-wrapper{width: 34px; height: 34px; background: white; position: relative; 
    transform: rotateZ(45deg);}
.topNavBar .logo{width: 34px; height: 34px; background: #FA6A2E; position: absolute; top: -5px; 
    left: 5px; text-align: center;}
.topNavBar .logo span{line-height: 34px; font-weight: 700; transform: rotateZ(-45deg); display: inline-block;}
.topNavBar ul>li{float: left; margin-left: 20px; font-size: 14px;}
.topNavBar ul>li>a{color: white;}
.topNavBar ul>li span{display: block; width: 100%; height: 3px; margin-top: 10px; background: white; transform: translateX(-100%); 
  opacity: 0; transition: all 0.5s;}
.topNavBar ul>li:hover span{transform: translateX(0); opacity: 1;}
.topNavBar.active{height: 80px; background: white; box-shadow: 0 3px 10px #ECE9E4;}
.topNavBar.active .logo-wrapper{background: #9A9DA2;}
.topNavBar.active ul>li span{background: #FA6A2E;}
.topNavBar.active ul>li>a{color: black;}

.container{max-width: 1200px; margin: 0 auto; box-shadow: 0 0 10px #ECE9E4;}
header{width: 1200px; height: 600px; background-image: url(./img/header.jpg); background-size: 100% 100%; position: relative;}
header h1,header p,header .down,header .media{position: absolute; color: white; z-index: 1;}
header::after{content: ''; display: block; width: 100%; height: 100%; background: #444450; opacity: 0.9;}
header h1,header p,header .down{left: 200px}
header h1{top: 260px; font-weight: 500; font-size: 24px;}
header p{top: 310px; font-size: 12px;}
header .down{top: 380px; font-size: 30px;}
header .media{top: 200px; right: 130px; display: flex; flex-direction: column;}
header .media a{margin-top: 40px; color: #E6E6E9; font-size: 24px; padding: 6px; border-radius: 50%; text-align: center;}
header .media a:nth-child(3){font-size: 28px;}
header .media a:hover{background: rgba(0, 0, 0, 0.2);}

.about{max-width: 850px; margin: 0 auto; display: flex; flex-direction: row; transform: translateY(-160px);}
.about .left{width: 45%;}
.about .left .image{padding: 5px; background: white; outline: 1px solid #ECE9E4;}
.about .left .self>h2{font-weight: 500; margin-top: 20px;}
.about .left .self>p{font-size: 14px; margin-top: 10px;}
.about .left .self>p>span{font-size: 16px;}
.about .left .self>ul{margin-top: 20px;}
.about .left .self li{border-bottom: 2px solid #ECECEC; padding: 10px 0; position: relative;}
.about .left .self li .my-key{color: #FA6A2E; font-weight: 600;}
.about .left .self li .my-value{display: inline-block; position: absolute; right: 0;}
.about .right{width: 50%; padding-left: 50px;}
.about .right .skill{width: 500px; height: 500px; margin-top: 200px;}
.about .right .download-wrapper{width: 500px; text-align: center;}
.about .right .download-wrapper a{display: inline-block; width: 200px; height: 40px; border: 1px solid #FA6A2E; 
  line-height: 40px; margin-top: 50px; color: #FA6A2E; font-weight: 600; border-radius: 5px; font-size: 18px; 
  transition: all 0.5s;}
.about .right .download-wrapper a:hover{box-shadow: 0px 4px 13px 0px #FA6A2E;}

.portfolio{padding: 0 170px; position: relative;}
.portfolio>h2{font-weight: 500;}
.portfolio>p{font-size: 12px; line-height: 60px;}
.portfolio>div{display: flex; flex-direction: row;}
.portfolio .works{margin-left: 27px; box-shadow: 0 0 8px #ECE9E4; height: 270px; position: relative;}
.portfolio #music,.portfolio #vue-works,.portfolio #react-works{margin-left: 0;}
.portfolio .row1,.portfolio .row2{margin-bottom: 27px;}
.portfolio .bg{position: absolute; width: 100%; height: 100%; background: #FA6A2E; opacity: 0; 
    top: 0; left: 0; border: 5px solid white;color: black; transition: all 0.5s;}
.portfolio .bg h4{font-weight: normal; text-align: center; font-size: 18px;}
.portfolio .bg p{font-size: 13px; text-align: left; margin: 10px 0;}
.portfolio .bg p>span{font-size: 14px;}
.portfolio .bg ul{margin-top: 20px;}
.portfolio .bg ul>li{float: left;width: 50%; text-align: center;}
.portfolio .bg ul>li>a:hover{box-shadow: 0px 4px 13px 0px black;}
.portfolio .bg ul>li>a{color: black;border: 1px dashed black; border-radius: 3px; padding: 5px;}
.portfolio .bg:hover{opacity: 0.7;}

.portfolio .row1{position: relative; display: flex; flex-direction: row; justify-content: space-between;}
.portfolio .work{width: 30%; border: 1px solid red; height: 90px; overflow: hidden; transition: all 1s;}
.portfolio .work .wrapper{display: flex; flex-direction: row; justify-content: space-between;}
.portfolio .work p{background: rgba(0, 0, 0, 0.2);}
.portfolio .work:hover{overflow: visible; z-index: 1;}