*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
li{list-style: none;}
a{text-decoration: none;}

.icon {width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden;}
.clearfix{content: ''; display: block; clear: both;}
.container{max-width: 1200px; margin: 0 auto; box-shadow: 0 0 10px #ECE9E4;}

header{width: 1200px; height: 600px; background-image: url(./img/header.jpg); background-size: 100% 100%; position: relative;}
header .topNavBar{z-index: 2; width: 100vw; height: 140px; display: flex; flex-direction: row; align-items: center; 
  position: fixed; transition: all 0.5s; left: 0;}
header .topNavBar.active{width: 100vw; height: 80px; background: white; box-shadow: 0 3px 10px #ECE9E4;}
header .topNavBar.active .logo{background: #9A9DA2;}
header .topNavBar.active nav>ul>li span{background: #FA6A2E;}
header .topNavBar.active nav>ul>li>a{color: black;}
header h1,header p,header .down,header .media{position: absolute; color: white; z-index: 1;}
header::after{content: ''; display: block; width: 100%; height: 100%; background: #444450; opacity: 0.9;}
header nav{margin-left: 1000px;}
header nav>ul>li{float: left; margin-right: 20px; font-size: 14px;}
header nav>ul>li span{display: block; width: 100%; height: 3px; margin-top: 10px; background: white; transform: translateX(-100%); 
  opacity: 0; transition: all 0.5s;}
header nav>ul>li:hover span{transform: translateX(0); opacity: 1;}
header nav>ul>li>a{color: white;}
header .logo{width: 34px; height: 34px; background: white; transform: rotateZ(45deg) translateX(388px) translateY(-388px);}
header .logo>div{width: 34px; height: 34px; background: #FA6A2E; position: absolute; top: -6px; left: 6px;
  text-align: center; line-height: 34px;}
header .logo>div>span{display: inline-block; transform: rotateZ(-45deg); font-weight: 700;}
header h1,header p,header .down{left: 200px}
header h1{top: 260px; font-weight: 500; font-size: 24px;}
header p{top: 310px; font-size: 12px;}
header .down{top: 380px; font-size: 30px;}
header .media{top: 200px; right: 130px; display: flex; flex-direction: column;}
header .media a{margin-top: 40px; color: #E6E6E9; font-size: 24px; padding: 6px; border-radius: 50%; text-align: center;}
header .media a:nth-child(3){font-size: 28px;}
header .media a:hover{background: rgba(0, 0, 0, 0.2);}

.about{max-width: 800px; margin: 0 auto; display: flex; flex-direction: row; transform: translateY(-160px);}
.about .left{width: 50%;}
.about .left .image{padding: 5px; background: white; outline: 1px solid #ECE9E4;}
.about .left .self>h2{font-weight: 500; margin-top: 20px;}
.about .left .self>p{font-size: 14px;}
.about .left .self>ul{margin-top: 20px;}
.about .left .self li{border-bottom: 2px solid #ECECEC; padding: 10px 0; position: relative;}
.about .left .self li .my-key{color: #FA6A2E; font-weight: 600;}
.about .left .self li .my-value{display: inline-block; position: absolute; right: 0;}
.about .right{width: 50%; padding-left: 50px;}
.about .right .skill{width: 500px; height: 500px; margin-top: 200px;}
.about .right .download-wrapper{width: 500px; text-align: center;}
.about .right .download-wrapper a{display: inline-block; width: 200px; height: 40px; border: 1px solid #FA6A2E; 
  line-height: 40px; margin-top: 50px; color: #FA6A2E; font-weight: 600; border-radius: 5px; font-size: 18px; 
  transition: all 0.5s;}
.about .right .download-wrapper a:hover{box-shadow: 0px 4px 13px 0px #FA6A2E;}

.portfolio{padding: 0 200px; position: relative;}
.portfolio h2{font-weight: 500;}
.portfolio p{font-size: 12px; line-height: 60px;}
.portfolio>div{display: flex; flex-direction: row;}
.portfolio .works{margin-left: 27px; box-shadow: 0 0 2px #E9E8E4; height: 270px;}
.portfolio #music,.portfolio #vue-works,.portfolio #react-works{margin-left: 0;}
.portfolio .row1,.portfolio .row2{margin-bottom: 27px;}
.portfolio .bg{position: absolute;}